html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

:root {
    --font-gray-color: rgb(109, 108, 108);
    --gray-color: rgb(197, 197, 197);
    --bg-color: rgb(248, 242, 242);
    --font-color: #333;
    --dark-color: rgb(32, 32, 32);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
}

.navbar {
    width: 100%;
    margin: auto;
    border-bottom: solid 1px var(--gray-color);
}

#title {
    color: var(--font-gray-color);
    font-weight: 400;
}

header, .main {
    width: 90%;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#title, .nav {
    flex: 1 1 auto;
}

.nav {
    float: right;
}

.nav li {
    display: inline;
    padding-left: 5px;
}

.nav a {
    font-size: 12px;
    margin-left: 15px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--font-gray-color);
}

.navWrapper {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 15px;
    margin:  15px auto 0;
}


.dropdown {
    width: 100%;
    padding-left: 20px;
    font-weight: 500;
}


.textInput {
    border: none;
    padding:10px;
    font-size: 16px;
}

#inputSearch {
    border-right: solid 1px var(--gray-color);
    margin-left: 15px
}

#inputBox,
#toolBox {
    border: solid 1px var(--gray-color);
}


#toolBox {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


input:focus {
    outline: none;
}

input[type="radio" i] {
    margin: 0;
    background-color: var(--gray-color);
    padding: 0;
    border: none;
}

#inputBox, #toolBox {
    display: grid;
}


#inputBox {
    grid-template-columns: 1fr 1fr;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#toolBox {
    grid-template-columns: 70px 90px 70px 1fr;
    justify-items: center;
    align-items: center;
}


select {
    border: none;
}

#reset {
    justify-content: right;
}

.light, .dark {
    color: red;
}

.fontsWrapper {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows:  minmax(50%, 60%);
    justify-content: center;
    padding: 0 40px;
}

.fontCard {
    padding: 20px;
    position: relative;
    margin: 10px;
}

.fontHeader {
    padding-top: 5px;
    border-top: 1px solid red;
    display: flex;
    flex-direction: column;
}

.fontHeader p, small {
    margin: 0;
    padding-top: 3px;
}

.fontHeader p {
    font-size: 16px;
    font-weight: 600;
}

.plusDiv {
    border: solid 2px red;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: red;
    text-align: center;
    justify-items: center;
    padding-top: 2px;
    position: absolute;
    right: 25px;
    top: 25px;
}

#unique {
    display: flex;
    align-items: center;
    height: 100%;
}

#roboto, 
#gayathri, 
#chilanka, 
#openSans, 
#lato, 
#manjari, 
#montserrat, 
#robotoCondensed {
    text-overflow: ellipsis;
}


.fontText {
    overflow-wrap: break-word;
}


.footer {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    margin-top: 55px;
}

.footer p {
    grid: 1;
    text-align: center;
}

#grid {
    margin: 3px auto 0;
    padding: 0;
    width: 20px;
}

#reset {
    width: 20px;
}

.themeMode {
    margin:  3px auto 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--gray-color);
    border-radius: 100px;
}

.dark {
    background-color: var(--dark-color);
}

/* Normal desktop :1200px. */
@media only screen and (min-width: 1200px) and (max-width: 1500px){

}

/* Normal desktop :992px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

}

/* Tablet desktop :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .fontsWrapper {
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: minmax(25%,auto);
    
    }
    #inputBox {
        grid-template-columns: 1fr 1fr;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    
    #input {
        margin-right: 15px;
    }

    #toolBox {
        grid-template-columns: repeat(4, 1fr);
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        margin-top: 10px;
    }
    
    .navWrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}


/* small mobile :320px. */
@media only screen and (max-width: 767px) {
    header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    #title {
        text-align: center;
    }

    #navigation {
        margin: 0 auto;
        align-items: center;
    }
    .nav {
        float: none;
        padding: 0;
        margin: 0 auto;
    }
    .main {
        width: 100%;
    }

    .fontsWrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .navWrapper {
        width: 100%;
        padding: 0;
        grid-template-columns: 1fr;
    }
    

    #inputBox,
    #toolBox {
        border: none;
        border-radius: none;
    }

    #inputSearch,
    #input {
        border-bottom: solid 1px var(--gray-color);
        margin: 0;
        padding: 5px 10px;
    }

    #toolBox {
        margin-top: 15px;
        grid-template-columns: repeat(4, 1fr);
        padding: 5px 10px;
    }

}

/* Large Mobile :480px. */
$large_mobile:'only screen and (min-width: 480px) and (max-width: 767px)';